
* {
  box-sizing: border-box;
}

.body-container {
  display: inline-block;
  position: relative;
  float: left;
  height: 1000px;
  width: 100%;
}

.one-line {
  display: inline-block;
}

/* Sidebar/left column */
.left-side {
  -ms-flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  height: 100%;
}

.user-info h2{
  text-align: center;
}

.user-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tabcontent, h2, p{
  text-align: center;
  padding: 8px;
}

tabcontent, p{
  text-align: center;
  font-size: 18px;
}

#user-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#user-options li a {
  padding: 12px;
  text-decoration: none;
  color: white;
  display: block
}

#user-options li a:hover {
  background-color: #d8d8d8;
}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('/static/images/coming-soon.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}


/* Footer */
.footer {
  position: fixed;
  bottom:0;
  color: white;
}
